
@{
    ViewBag.Title = "Create";
}
<h1>Send Mail</h1>
@if (ViewBag.Error != null)
{
    <h2>@ViewBag.Error</h2>
}

@using (Html.BeginForm("Create", "EmailE", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <span class="form-control-static">Reciever email:</span>
    <input class="form-control" type="text" name="recieverEmail"  />
    <span class="form-control-static">Subject:</span>
    <input class="form-control" type="text" name="subject" />
    <span class="form-control-static">Message:</span>
    <input class="form-control" type="text" name="message" />
    <br />
    <br />
    <button class="btn btn-primary" type="submit">Send email</button>
}

